@mixin column-count($cols) {
	-webkit-column-count: $cols;
	-moz-column-count: $cols;
	column-count: $cols;
}

@mixin column-gap($gap) {
	-webkit-column-gap: $gap;
	-moz-column-gap: $gap;
	column-gap: $gap;
}

@mixin column-rule($rule) {
	-webkit-column-rule: $rule; 
	-moz-column-rule: $rule;
	column-rule: $rule;
}

@mixin border-radius($r) {
	-webkit-border-radius: $r;
	-moz-border-radius: $r;
	border-radius: $r;
}

@mixin vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

@mixin animation($prop) {
	-webkit-animation: $prop;
	animation: $prop;
}

@mixin keyframes($name) {
  @-webkit-keyframes #{$name} {
    @content; 
  }
  @-moz-keyframes #{$name} {
    @content;
  }
  @-ms-keyframes #{$name} {
    @content;
  }
  @keyframes #{$name} {
    @content;
  } 
}