$orange         : #BD3613;
$blue           : #2176C7;
$white			: #fff;
$black 			: #000;
$cyan			: #3498db;

$color-1: #E64A45;
$color-2: #F2C249;
$color-3: #ccc;
$color-4: #E6772E;

$font-primary: Merriweather, serif;
$font-secondary: Bree Serif, serif;

$default-border-radius : 10px;